<%# @log_array[2] %>
<%# render partial: "storage_log", collection: @storage_logs %>
<div class="container">
    <div class="row">
    <!--
        <div class='col-lg-2 col-md-4 terminal revoked' id='silencetest'>
            <h4>silencetest</h4>
        </div>
    -->
    </div>
</div>

<script>
/*
        var jsonresult;
        $.ajax({
            url: "/storages/access_logs",
            dataType: "text",
            success: (function(data) {
                jsonresult = data;
            })
        });
*/
/*
        $.ajax({
            url: "/storages/access_logs",
            dataType: "json",
            success: (function(data) {
                jsonresult = data;
                update_logs(jsonresult.logs);
            })
        });
*/
    setInterval(function(){
        $.ajax({
            url: "/storages/access_logs",
            dataType: "json",
            success: (function(data) {
                jsonresult = data;
                update_logs(jsonresult.logs);
            })
        });
    }, 2000);
</script>
